<!doctype html>
<html ng-app="app">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Candide</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./styles/style.css">
</head>

<body ng-controller="body as ctrl">

  <div class="container">
    <div class="row">
      <div class="column column-50 column-offset-25">
        <h1 class="title">
          <i class="fa fa-file"></i> Candide
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <a class="button button-clear" ng-click="ctrl.reset()">
          <i class="fa fa-file-o"></i> Nouveau document
        </a>
        <a class="button button-clear" ng-href="{{ctrl.source | blob}}" download="{{ctrl.resume | title:'.json'}}">
          <i class="fa fa-floppy-o"></i> Enregistrer sous
        </a>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <form class="form">
          <fieldset>
            <label>Nom</label>
            <input type="text" ng-model="ctrl.resume.name" placeholder="Nom">
            <label>Titre</label>
            <input type="text" ng-model="ctrl.resume.title" placeholder="Titre">
            <label>Competences</label>
            <textarea ng-model="ctrl.resume.skills" rows="3" wysiwyg></textarea>
            <br>
            <hr>
            <div ng-repeat="degree in ctrl.resume.degrees track by $index">
              <label>Ecole</label>
              <input type="text" ng-model="degree.school" placeholder="Ecole">
              <label>Année</label>
              <input type="text" ng-model="degree.year" placeholder="Année" picker format="Y">
              <label>Diplôme</label>
              <input type="text" ng-model="degree.name" placeholder="Diplôme">
              <button type="button" class="button button-clear" ng-hide="$index == 0" ng-click="ctrl.removeDegree($index)">
                <i class="fa fa-minus-square"></i> Supprimer école
              </button>
              <hr>
            </div>
            <button type="button" class="button button-outline" ng-click="ctrl.addDegree()">
              <i class="fa fa-plus-square"></i> Ajouter une école
            </button>
            <hr>
            <div ng-repeat="experience in ctrl.resume.experiences track by $index">
              <label>Société</label>
              <input type="text" ng-model="experience.firm" placeholder="Société">
              <label>Client</label>
              <input type="text" ng-model="experience.client" placeholder="Client">
              <label>De</label>
              <input type="text" ng-model="experience.from" placeholder="De" picker format="Y-m">
              <label>A</label>
              <input type="text" ng-model="experience.to" placeholder="A" picker format="Y-m">
              <label>Description</label>
              <input type="text" ng-model="experience.description" placeholder="Description">
              <label>Mission</label>
              <textarea ng-model="experience.mission" rows="3" wysiwyg></textarea>
              <br>
              <button type="button" class="button button-clear" ng-hide="$index == 0" ng-click="ctrl.removeExperience($index)">
                <i class="fa fa-minus-square"></i> Supprimer expérience
              </button>
              <hr>
            </div>
            <button type="button" class="button button-outline" ng-click="ctrl.addExperience()">
              <i class="fa fa-plus-square"></i> Ajouter expérience
            </button>
          </fieldset>
        </form>
      </div>
      <div class="column">
        <iframe ng-hide="!ctrl.preview" class="preview" type="application/pdf" ng-src="{{ctrl.pdf}}" frameborder="0" title="Aperçu"></iframe>
        <div ng-hide="ctrl.preview">
          <textarea rows="3" ng-model="ctrl.source" ng-change="ctrl.updateSource()" code></textarea>
        </div>
        <br>
        <button type="button" class="button button-outline" ng-click="ctrl.preview = !ctrl.preview">
          <i class="fa fa-code"></i> Changer de mode
        </button>
      </div>
    </div>
  </div>

  <script src="./scripts/app.js"></script>
</body>

</html>
