<!doctype html>
<html ng-app="app">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Candide</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./styles/style.css">
</head>

<body ng-controller="body as ctrl">
  <a href="https://github.com/Lajule/candide">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"
      alt="Fork me on GitHub">
  </a>

  <div class="container">
    <div class="row">
      <div class="column column-50 column-offset-25 bar">
        <h1>
          <img class="logo" src="./images/candide-256.png"> Candide
        </h1>
      </div>
    </div>
    <div class="row" ng-cloak>
      <div class="column column-60 column-offset-20 bar">
        <h3>{{ 'subtitle' | translate }}</h3>
      </div>
    </div>
    <div class="row" ng-cloak>
      <div class="column column-70 column-offset-15 bar">
        <a class="button button-clear" ng-click="ctrl.reset()" data-balloon="{{ 'new.tooltip' | translate }}" data-balloon-pos="down">
          <i class="fa fa-file-o"></i> {{ 'new.label' | translate }}
        </a>
        <a class="button button-clear" ng-href="{{ctrl.source | blob}}" download="{{ctrl.resume | title:'.json'}}" data-balloon="{{ 'save.tooltip' | translate }}"
          data-balloon-pos="down">
          <i class="fa fa-floppy-o"></i> {{ 'save.label' | translate }}
        </a>
        <a class="button button-clear" ng-click="ctrl.download()" data-balloon="{{ 'download.tooltip' | translate }}" data-balloon-pos="down">
          <i class="fa fa-download"></i> {{ 'download.label' | translate }}
        </a>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <button type="button" class="button" ng-class="{ 'button-outline': ctrl.step != 0 }" ng-click="ctrl.step = 0">
          <i class="fa fa-user"></i> Personne
        </button>
        <button type="button" class="button" ng-class="{ 'button-outline': ctrl.step != 1 }" ng-click="ctrl.step = 1">
          <i class="fa fa-university"></i> Formation
        </button>
        <button type="button" class="button" ng-class="{ 'button-outline': ctrl.step != 2 }" ng-click="ctrl.step = 2">
          <i class="fa fa-building"></i> Expériences
        </button>

        <form class="form" ng-hide="ctrl.step != 0">
          <fieldset>
            <label>Nom</label>
            <input type="text" ng-model="ctrl.resume.name" placeholder="Nom">
            <label>Titre</label>
            <input type="text" ng-model="ctrl.resume.title" placeholder="Titre">
            <label>Competences</label>
            <textarea ng-model="ctrl.resume.skills" rows="3" wysiwyg></textarea>
            <hr>
          </fieldset>
        </form>

        <form class="form" ng-hide="ctrl.step != 1">
          <fieldset>
            <div ng-repeat="degree in ctrl.resume.degrees track by $index">
              <label>Ecole</label>
              <input type="text" ng-model="degree.school" placeholder="Ecole">
              <label>Année</label>
              <input type="text" ng-model="degree.year" placeholder="Année" picker format="Y">
              <label>Diplôme</label>
              <textarea ng-model="degree.name" rows="3" wysiwyg></textarea>
              <br>
              <button type="button" class="button button-clear" ng-hide="$index == 0" ng-click="ctrl.removeDegree($index)">
                <i class="fa fa-minus-square"></i> Supprimer école
              </button>
              <hr>
            </div>
            <button type="button" class="button button-outline" ng-click="ctrl.addDegree()">
              <i class="fa fa-plus-square"></i> Ajouter une école
            </button>
          </fieldset>
        </form>

        <form class="form" ng-hide="ctrl.step != 2">
          <fieldset>
            <div ng-repeat="experience in ctrl.resume.experiences track by $index">
              <label>Société</label>
              <input type="text" ng-model="experience.firm" placeholder="Société">
              <label>Client</label>
              <input type="text" ng-model="experience.client" placeholder="Client">
              <label>De</label>
              <input type="text" ng-model="experience.from" placeholder="De" picker format="Y-m">
              <label>A</label>
              <input type="text" ng-model="experience.to" placeholder="A" picker format="Y-m">
              <label>Description</label>
              <input type="text" ng-model="experience.description" placeholder="Description">
              <label>Mission</label>
              <textarea ng-model="experience.mission" rows="3" wysiwyg></textarea>
              <br>
              <button type="button" class="button button-clear" ng-hide="$index == 0" ng-click="ctrl.removeExperience($index)">
                <i class="fa fa-minus-square"></i> Supprimer expérience
              </button>
              <hr>
            </div>
            <button type="button" class="button button-outline" ng-click="ctrl.addExperience()">
              <i class="fa fa-plus-square"></i> Ajouter expérience
            </button>
          </fieldset>
        </form>
      </div>
      <div class="column">
        <button type="button" class="button" ng-class="{ 'button-outline': ctrl.mode != 'default' }" ng-click="ctrl.mode = 'default'">
          <i class="fa fa-code"></i> Source
        </button>
        <button type="button" class="button" ng-class="{ 'button-outline': ctrl.mode != 'preview' }" ng-click="ctrl.mode = 'preview'">
          <i class="fa fa-file-pdf-o"></i> pdf
        </button>

        <iframe ng-hide="ctrl.mode != 'preview'" class="preview" type="application/pdf" ng-src="{{ctrl.pdf}}" frameborder="0" title="Aperçu"></iframe>

        <div ng-hide="ctrl.mode != 'default'">
          <textarea rows="3" ng-model="ctrl.source" ng-change="ctrl.updateSource()" code></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column column-50 column-offset-25 bar">
        <a class="button button-clear" href="https://github.com/Lajule">
          <i class="fa fa-github"></i> GitHub
        </a>
        <a class="button button-clear" href="https://codepen.io/Lajule/">
          <i class="fa fa-codepen"></i> Codepen
        </a>
      </div>
    </div>
  </div>

  <script src="./scripts/app.js"></script>
</body>

</html>