<!doctype html>
<html ng-app="app">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Candide</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./styles/style.css">
</head>

<body ng-controller="body as ctrl">
  <div class="header">
    <h1>Candide</h1>
    <div class="toolbar">
      <button type="button" ng-click="ctrl.reset()">
        <i class="fa fa-file-text-o"></i> Nouveau document
      </button>
      <a ng-href="{{ctrl.source | blob}}" download="test.json">
        <i class="fa fa-floppy-o"></i> Enregistrer sous
      </button>
    </div>
  </div>

  <div class="container">
    <div class="left">
      <div class="row">
        <div class="field">
          <label>Nom</label>
          <input type="text" ng-model="ctrl.resume.name" placeholder="Nom">
        </div>
        <div class="field">
          <label>Titre</label>
          <input type="text" ng-model="ctrl.resume.title" placeholder="Titre">
        </div>
      </div>

      <div class="row">
        <div class="field">
          <label>Competences</label>
          <textarea ng-model="ctrl.resume.skills" rows="3" wysiwyg></textarea>
        </div>
      </div>

      <div ng-repeat="degree in ctrl.resume.degrees track by $index">
        <div class="row">
          <div class="field">
            <label>Ecole</label>
            <input type="text" ng-model="degree.school" placeholder="Ecole">
          </div>

          <div class="field field-date">
            <label>Année</label>
            <input type="text" ng-model="degree.year" placeholder="Année" picker format="Y">
          </div>
        </div>

        <div class="row">
          <div class="field">
            <label>Diplôme</label>
            <input type="text" ng-model="degree.name" placeholder="Diplôme">
          </div>
        </div>

        <div class="row">
          <div class="field">
            <button type="button" ng-hide="$index == 0" ng-click="ctrl.removeDegree($index)">
              <i class="fa fa-minus-square"></i> Supprimer école
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="field">
          <button type="button" ng-click="ctrl.addDegree()">
            <i class="fa fa-plus-square"></i> Ajouter une école
          </button>
        </div>
      </div>

      <div ng-repeat="experience in ctrl.resume.experiences track by $index">
        <div class="row">
          <div class="field">
            <label>Société</label>
            <input type="text" ng-model="experience.firm" placeholder="Société">
          </div>

          <div class="field">
            <label>Client</label>
            <input type="text" ng-model="experience.client" placeholder="Client">
          </div>

          <div class="field field-date">
            <label>De</label>
            <input type="text" ng-model="experience.from" placeholder="De" picker format="Y-m">
          </div>

          <div class="field field-date">
            <label>A</label>
            <input type="text" ng-model="experience.to" placeholder="A" picker format="Y-m">
          </div>
        </div>

        <div class="row">
          <div class="field">
            <label>Description</label>
            <input type="text" ng-model="experience.description" placeholder="Description">
          </div>
        </div>

        <div class="row">
          <div class="field">
            <label>Mission</label>
            <textarea ng-model="experience.mission" rows="3" wysiwyg></textarea>
          </div>
        </div>

        <div class="row">
          <div class="field">
            <button type="button" ng-hide="$index == 0" ng-click="ctrl.removeExperience($index)">
              <i class="fa fa-minus-square"></i> Supprimer expérience
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="field">
          <button type="button" ng-click="ctrl.addExperience()">
            <i class="fa fa-plus-square"></i> Ajouter expérience
          </button>
        </div>
      </div>
    </div>
    <div class="right">
      <textarea class="source" rows="3" ng-model="ctrl.source" ng-change="ctrl.updateSource()" code></textarea>
      <iframe class="pdf" type="application/pdf" ng-src="{{ctrl.pdf}}" frameborder="0"></iframe>
    </div>
  </div>

  <script src="./scripts/app.js"></script>
</body>

</html>
