@import "normalize.css/normalize.css";
@import "font-awesome/css/font-awesome.css";
@import "flatpickr/dist/flatpickr.css";
@import "codemirror/lib/codemirror.css";

@import url("https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif");

body {
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
}

button,
a {
  font-family: 'PT Serif', serif;
}

button {
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

a {
  text-decoration: none;
  line-height: 1.15;
  margin: auto 0;
  color: black;
}

button:focus,
input:focus {
  outline: 0;
}

label {
  font-weight: bold;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0.5em;
}

.toolbar {
  display: flex;
  flex-direction: row;
}

.container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pane {
  height: 100%;
}

.pdf {
  width: 100%;
  height: 100%;
}

.CodeMirror {
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0 0.5em 1em;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.field-date {
  width: 15%;
}
